* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(28, 29, 34);
  color: #ffffff;
}
.app {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient();
  
}
.header {
  padding: 1rem;
  text-transform: uppercase;
}
.header h1 {
    font-size: 5rem;
    letter-spacing: 1px;
    font-family: "Roboto Slab", serif; 
    background: linear-gradient(
    180deg,
    rgb(200, 200, 200), 
    rgba(28, 29, 34, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.search {
    width: 30%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1rem;
    border-radius: 2rem;
    background: #1c1d22;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }
.search input {
  border: none;
  font-size: 1.5rem;
  padding-right: 1rem;
  width: 80rem;
  outline: none;
  color: #a1a1a1;
  background-color: rgb(28, 29, 34);
}
.search-button{
    background-color: #1c1d22;
    color: #a1a1a1;
    cursor: pointer;
}
.container {
  width: 100%;
  align-items: center;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1d22;
  justify-content: center;
  gap: 1.5rem;
  
}
.movie-card{
  padding: 1.5rem 0;
   position: relative;
  border-radius: 5%;

}
.movie-container {
  width: 330px;
  height: 450px;
  margin: 2.5rem 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: left;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie img {
  border-radius: 5%;
  max-height: 40rem;
  max-width: 100%;
  position: relative;
  margin: 1rem 0;
}
.movie-title {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-align: center;
}

.empty {
    width: 100%;
    margin-top: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .empty h2 {
    font-size: 1.25rem;
  }
.empty-image {
  width: 320px;
  height: 480px;
  margin: 2.5rem 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: left;
}

.hero{
    min-height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin: 1rem 0;
    
}
.hero-content {
    max-width: 100%;
    padding: 2rem;
    font-family: "Roboto Slab", serif;
}

.hero-title {
    font-size: 5rem;
    margin-bottom: 10px;

}
.hero-overview {
    font-size: 1.2rem; 
    margin: 0;
}

.hero-button {
    background-color: transparent;
    margin-bottom: 0.7rem;
    cursor: pointer;
}