* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c1d22;
  color: #ffffff;
}
h1 {
  font-size: 5rem;
  letter-spacing: 0.9px;
}
.app {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.header {
  font-family: "Roboto Slab", serif;
  padding: 1rem;
  text-transform: uppercase;
}
.search {
    width: 30%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1rem;
    border-radius: 2rem;
    background: #1c1d22;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }
.search input {
  border: none;
  font-size: 1.5rem;
  padding-right: 1rem;
  width: 100%;
  outline: none;
  color: #a1a1a1;
  background-color: #1c1d22;
}
.search-button{
    background-color: #1c1d22;
    color: #a1a1a1;
    cursor: pointer;
}
.container {
  align-items: center;
  width: 100%;
  align-items: center;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1d22;
  justify-content: center;
  gap: 1.5rem;
  
}
.movie-card{
  padding: 1.5rem 0;
   position: relative;
  border-radius: 5%;

}
.movies {
  width: 320px;
  height: 450px;
  margin: 2.5rem 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: left;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie img {
  border-radius: 5%;
  max-height: 40rem;
  max-width: 100%;
  position: relative;
  margin: 1rem 0;
}
.movie-title {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-align: center;
}

.empty {
    width: 100%;
    margin-top: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .empty h2 {
    font-size: 1.25rem;
  }
.empty-image {
    width: 320px;
  height: 480px;
  margin: 2.5rem 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: left;
}