* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(28, 29, 34);
  color: #ffffff;
}
.app {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient();
  
}
.header {
  padding: 1rem;
  text-transform: uppercase;
}
.header h1 {
    font-size: 5rem;
    letter-spacing: 1px;
    font-family: "Roboto Slab", serif; 
    background: linear-gradient(
    180deg,
    rgb(200, 200, 200), 
    rgba(28, 29, 34, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.search {
    width: 30%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1rem;
    border-radius: 2rem;
    background: #1c1d22;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }
.search input {
  border: none;
  font-size: 1.5rem;
  padding-right: 1rem;
  width: 100rem;
  min-height: 20%;
  outline: none;
  color: #a1a1a1;
  background-color: rgb(28, 29, 34);
}
.search-button{
    background-color: #1c1d22;
    color: #a1a1a1;
    cursor: pointer;
}
.container {
  width: 100%;
  align-items: center;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1d22;
  justify-content: center;
  gap: 1rem;
  
}
.movie-card{
  padding: 1.5rem 0;
   position: relative;
  border-radius: 5%;

}
.movie-container {
  width: 330px;
  height: 450px;
  margin: 2.5rem 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: left;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie img {
  border-radius: 5%;
  max-height: 40rem;
  max-width: 100%;
  position: relative;
  margin: 1rem 0;
}
.movie-title {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-align: center;
}
.movie:hover {
    transform: scale(1.05, 1.05);
  }

.empty {
    width: 100%;
    margin-top: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .empty h2 {
    font-size: 1.25rem;
  }
.empty-image {
  width: 320px;
  height: 480px;
  margin: 2.5rem 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: left;
}

.modal-container{
  position: relative;
  width: 100%;
  transform: translate(50%, 50%);
  
}
.modal-movie {
  position: relative;
  min-height: 70%;
  max-width: 60%;
  left: 20%;
  bottom: 25%;
  background-size: cover;
 
}
.modal {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;  
}

.close-button {
  position: fixed;
  font-size: 2.5rem;
  color: aliceblue;
  cursor: pointer;
  top: 5%;
  right: 20%;
}


.hero-content {
  max-width: 100%;
  padding: 2rem;
  font-family: "Roboto Slab", serif;
  margin-top: 25rem;

}

.hero-title {
  position: relative;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 28rem;

}
.hero-overview {
  position: relative;
  font-size: 1.3rem; 
  margin-top: 1.5rem;
  
}

.hero-button {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 25rem;
}

.youtube-container{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie-card {
    width: "100%";
    margin: 1rem;
  }
}